<div>
	<div>
		<nav class='navbar navbar-expand-sm bg-light'> 
			<div class='container'>
				<a class='navbar-brand' [routerLink]="['/login']">{{pageTitle}}</a>
				<ul class='navbar-nav mr-auto' >
					<li class="nav-item"><a class="nav-link" [routerLink]="['/workouts']">My Workouts</a></li>
					<li class="nav-item"><a class="nav-link" [routerLink]="['/report']">Burn-Out Report</a></li>
					<!--<li class="nav-item" >
						<button type="button" class="btn btn-link" (click)='doLogout()'>Logout</button>
					</li>-->
					
				</ul>
			</div>
		</nav>
	</div>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</div>

