<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Add Workout</h5>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="workoutTitle">Workout Title</label>
            <input type="text" class="form-control" id="workoutTitle" aria-describedby="workoutHelp" placeholder="Enter Workout Title">
            <small id="workoutHelp" class="form-text text-muted">A short description of your workout, such as "Squat"</small>
          </div>
          <div class="form-group">
            <label for="calsBurnt">Calories Burnt</label>
            <input type="text" class="form-control" id="calsBurnt" placeholder="Calories Burnt (5 or 20 or ...)">
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="timeUnit">Unit</label>
              </div>
              <select class="custom-select" id="timeUnit">
                <option selected>Choose...</option>
                <option value="hours">HOUR</option>
                <option value="minutes">MINUTE</option>
                <option value="seconds">SECOND</option>
              </select>
            </div>
          </div>
        </form>
        <button class="btn btn-outline-primary"  class="btn btn-primary" (click)='addWorkout()'>Save</button>
      </div>
    </div>
  </div>
</div>