<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <h5 class="card-header">My Workouts</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Workout</th>
                <th scope="col">Calories Burnt</th>
                <th scope="col">Time Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let workout of workouts'>
                <th scope="row">
                  <!--<button type="button" class="btn btn-link" (click)='trackWorkout(workout.id)'>-->
                  <button type="button" class="btn btn-link" [routerLink]="['/transactions', workout.id]">
                    {{workout.title}}
                  </button>

                </th>
                <td>{{workout.calsBurnt}}</td>
                <td>{{workout.unit}}</td>
              </tr>
              <!--<tr>
                <th scope="row">
                  <button type="button" class="btn btn-link" (click)='trackWorkout()'>
                    Squat
                  </button>
                </th>
                <td>5</td>
                <td>MINUTE</td>
              </tr>-->
              <tr>
                <td></td>
                <td></td>
                <td><button class="btn btn-outline-primary" (click)='addNewWorkout()'> Add Workout </button>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>