<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Add Workout</h5>
      <div class="card-body">
        <form [formGroup]="addWorkoutForm" (ngSubmit)="addWorkout()">
          <div class="form-group">
            <label for="workoutTitle">Workout Title</label>
            <input type="text" class="form-control" id="workoutTitle" formControlName="title"
              aria-describedby="workoutHelp" placeholder="Enter Workout Title">
            <small id="workoutHelp" class="form-text text-muted">A short description of your workout, such as "Squat"</small>
          </div>
          <div class="form-group">
            <label for="calsBurnt">Calories Burnt</label>
            <input type="text" class="form-control" id="calsBurnt" formControlName="calsBurnt"
              placeholder="Calories Burnt (5 or 20 or ...)">
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="timeUnit">Unit</label>
              </div>
              <select class="custom-select" id="timeUnit" formControlName="unit">
                <option value="" selected>Choose...</option>
                <option value="HOURS">HOUR</option>
                <option value="MINUTES">MINUTE</option>
                <option value="SECONDS">SECOND</option>
              </select>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Save</button>
        </form>        
      </div>
    </div>
  </div>
</div>