<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <h5>{{workoutName}}</h5>
        <button class="btn btn-outline-primary col-sm-5" (click)='trackNewActivity()'> Track New Activity </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Duration (in mins)</th>
                <th scope="col">Calories Burnt</th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let t of transactions'>
                <th scope="row">{{t.startTime | date:'yyyy-MM-dd'}}</th>
                <td>{{t.startTime | date:'HH:mm:ss'}}</td>
                <td>{{t.endTime | date:'HH:mm:ss'}}</td>
                <td>{{t.duration | convertFromSec:'M'}}</td>
                <td>{{t.calsBurnt}}</td>                
              </tr>
              <!--<tr>
                <th scope="row">2018-03-07</th>
                <td>10:00:00</td>
                <td>11:00:00</td>
                <td>60</td>
                <td>60</td>                
              </tr>-->              
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>